{% comment %}
  Unified publications entry renderer for both formats
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  <div class="publications">
    {% bibliography --group_by none %}
  </div>
</ul>
